<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

<!--comment-->
<bean id="book" class="org.tnsif.beanlifecycle.Book"
		init-method="init" destroy-method="destroy">
	<property name="name" value="C++"/>
	<property name="author" value="Vikas Lichade"/>
</bean>



</beans>